
@font-face {
    font-family: 'inknut_antiquaextrabold';
    src: url('fonts/inknutantiqua-extrabold-webfont.eot');
    src: url('fonts/inknutantiqua-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/inknutantiqua-extrabold-webfont.woff') format('woff'),
         url('fonts/inknutantiqua-extrabold-webfont.ttf') format('truetype'),
         url('fonts/inknutantiqua-extrabold-webfont.svg#inknut_antiquaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.slide1{
	background-image: url('http://i1077.photobucket.com/albums/w462/ksingleton88/background_zpsrvjn4kvr.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 700px;
	text-align: center;
	margin: 0 auto;
	padding: 0;

}

.button{
	width: 30%;
}
.dropdown {
	position: relative;
	/*background-color: #FFFFFF;*/
}

.dropdown li{
	display: inline-block;
}

.dropdown .dropdown-menu{
/*	display: none;*/
	margin: 0;
	list-style: none;
	padding: 0;

	/*width: 0;
	overflow: hidden;*/
}

.dropdown button{
	background-color: transparent;
	color: #FFFFFF;
	border: none;
	margin-right: 90%;
	padding: 0;
}

.dropdown a{
	display: block;
	padding: 0.2em 0.8em;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #333333;
}

.dropdown a:hover{
	background: #BBBBBB;
}

.animated_link_start{
	opacity: 0;
	display: block;
    /* Start with a position relative 10px up  */
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    /* Add transition for position */
    color: white;

}

.animated_link_end{
	opacity: 1;
	display: block;
    /* End with a position relative back at 0  */

     -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
}


.title h1{
	color: #000000;
	font-size: 7em;
	margin: 0 auto;
	padding-top: 14%;
	font-family: 'inknut_antiquaextrabold';

}

.slide2, 
.slide3,
.slide4{
	width: 100%;
	height: 700px;
}

.slide2{
	background-color: #303032;
	text-align: center;
}

.slide3{
	background-color: #400000;
	text-align: center;
}

.slide4{
	background-color: #303032;
	text-align: center;
}


.footer{
	width: 100%;
	height: 300px;
}